apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
  namespace: ecomm
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
        - name: inventory-service
          image: ecomm-inventory-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8081
          env:
            - name: SPRING_DATA_MONGODB_URI
              value: mongodb://mongo:27017/inventory
